.container {
    display: flex;
    flex-direction: column;
    min-height: 655px;
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 20px;
}


.logout button {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
}
.logout button:hover{
    background-color: #e03e3e;
}
.logout {
    padding: 15px 5px;
}

.backHome {
    padding: 20px;
}
.backHome a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s, transform 0.2s;
    background-color: #1a1a1a;
}

.backHome a:hover {
    background-color: #ff4c4c;
    transform: translateY(-2px);
}

.buttons {
    display: flex;
    flex-direction: row;

}

.image img {
    padding: 10px;
    width: 7%;
}