.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    padding-top: 80px;
    background-color: var(--bg-color);
    color: whitesmoke;
    margin: 0;
    align-items: center;
}


.logout button {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--text-color);

}
.logout button:hover{
    background-color: var(--primary-hover);
}
.logout {
    padding: 15px 5px;
}

.backHome {
    padding: 20px;
}
.backHome a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s, transform 0.2s;
    background-color: var(--header-bg);

}

.backHome a:hover {
    transform: translateY(-2px);
    background-color: var(--primary-color);

}

.buttons {
    display: flex;
    flex-direction: row;

}

.image {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.image img {
    width: 150px;
    height: auto;
    padding: 10px;
}

h1{
    font-weight: lighter;
    color: var(--muted-text);

}


.form {
    width: 20rem;
    margin: 0 auto;
    background-color: var(--bg-color);
}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    font-weight: bold;
    color: var(--primary-color);
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    font: inherit;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: red;
    background-color: var(--header-bg);
}

.subscriptions {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px;
    border-radius: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.subscriptions:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.subscriptions:focus {
    outline: none;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s, transform 0.2s;
    color: var(--text-color);

}

.navbar a:hover {
    transform: translateY(-2px);
    background-color: var(--primary-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--header-bg);

}

.userIcon {
    font-size: 60px;
    padding-top: 4px;
}