.form {
    background-color: black;
    padding: 30px;
    width: 20rem;

}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color: red;
    font-weight: bold;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: darkgrey;
    color: red;
}

.subscription {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px;
    border-radius: 8px;
    background-color: black;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.subscription:hover {
    background-color: red;
    cursor: pointer;
}

.subscription:focus {
    outline: none;
}


.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.actions button {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.actions button:hover {
    background-color: red;
}

.actions a {
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.actions a:hover {
    color: red;
}