.container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding-left: 1rem;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
}

.episodeList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 500px;
}

.episodeItem {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--muted-text);
    transition: background-color 0.2s ease;
}

.episodeLabel {
    font-weight: bold;
    color: var(--text-color);
}

.episodeTitle {
    margin-left: 0.3rem;
    color: var(--text-color);
}

.airDate {
    font-style: italic;
    color: var(--muted-text);
    margin-left: 0.3rem;
}

.noEpisodes {
    font-style: italic;
    color: var(--muted-text);
}

.watchlistButtons button {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: whitesmoke;
    cursor: pointer;
}

.watchlistButtons button:hover {
    background-color: var(--primary-hover);
}
