.backHome {
    padding: 30px;
}
.backHome a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s, transform 0.2s;
}

.backHome a:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
}

.genreSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.genreBlock {
    padding: 1rem;
}

.genreTitle {
    margin-bottom: 1rem;
    padding-left: 30px;
    color: var(--text-color);

}

.watchListGrid {
    display: flex;
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    padding-left: 30px;
}

.title h2{
    padding-left: 30px;
    padding-top: 100px;
    color: var(--text-color);

}

.filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    color: var(--text-color);

}

.filter label {
    font-weight: bold;
}

.filter select {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: var(--header-bg);
    color: var(--text-color);
}

.filter select:hover {
    background-color: #444;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-right: 25px;
    background-color: var(--header-bg);

}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.2s, transform 0.2s;
    color: var(--text-color);

}

.navbar a:hover {
    transform: translateY(-2px);
    background-color: var(--primary-color);
}

